.owl-carousel .item{height: 322px;}
#leftpart .fa.fa-arrow-circle-left {color: #fff;font-size: 30px;left: 10px;position: absolute;top: 48%;cursor: pointer}
#leftpart > video {width: 100%; height: 100%}
#leftpart .fa.fa-arrow-circle-right {color: #fff;font-size: 30px;right: 10px;position: absolute;top: 48%;cursor: pointer}
#instagrampro_category {clear: both}
#instagrampro_category img {float: left;height: 100px;margin: 0 10px 10px 0}
#instagrampro_category #cleardiv {clear: both;height: 15px}
.instagrampro-view.clearer {float: left;width: 100%}
.instagrampro-view.instagrampro-gallary #mainimgdiv {float: left;margin: 15px 7px 0;overflow: hidden;position: relative;width: 23.5%;height: 300px}
.instagrampro-view #mainimgdiv img {height: 100%;width: 100%;object-fit: cover;border-radius: 0px !important;}
.instagrampro-view #mainimgdiv:nth-child(4n) {margin-right: 0}
.instagrampro-view #mainimgdiv .hoverp {background: linear-gradient(0deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0.66) 100%);color: #fff;cursor: pointer;display: none;height: 100%;margin: 0;overflow: hidden;padding: 0;position: absolute;top: 0;width: 100%;}
.instagrampro-view #mainimgdiv .hoverp #innerdiv {cursor: pointer;display: inline-block;height: 100%;margin: 0;overflow: hidden;text-align: center;width: 100%}
.instagrampro-view #mainimgdiv .hoverp #innerdiv > span {font-size: 20px}
.instagrampro-view #mainimgdiv .hoverp #innerdiv > .imagecomments {bottom: 10px;left: 7%;position: absolute}
.instagrampro-view #mainimgdiv .hoverp #innerdiv > .imagelikes {right: 7%;position: absolute;bottom: 10px}
.instagrampro-view #mainimgdiv .hoverp #innerdiv > .imagelikes > .fa.fa-heart, .instagrampro-view #mainimgdiv .hoverp #innerdiv > .imagecomments > .fa.fa-comment {margin-right: 5px}
.instagrampro-view #mainimgdiv .hoverp a {text-decoration: none;color: #fff !important;font-family: "Open Sans", sans-serif !important;font-size: 15px;height: 100%;width: 100%;overflow: hidden;text-decoration: none;display: inline-block;text-align: center}
.instagramproshow {display: block !important;border-radius: 0px;}
.instagrampro-view #backgrounddiv::-webkit-scrollbar{width: 2px;}
.instagrampro-view #backgrounddiv::-webkit-scrollbar-thumb{background: #296497;}
.instagrampro-view #backgrounddiv::-webkit-scrollbar-track{background: #DCE5EC;}
#backgrounddiv {align-items: baseline;background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;bottom: 0;left: 0;right: 0;top: 0;justify-content: center;overflow: auto;overflow-x: hidden;position: fixed;z-index: 15001;width: 100%;height: 100%;display: none}
#backgrounddiv #whitebgdiv {background-color: white;height: 525px;margin: 50px auto;max-width: 100%;width: 1050px;position: relative}
#backgrounddiv #whitebgdiv #leftpart {display: table-cell;float: left;height: 100%;position: relative;text-align: center;width: 525px}
#backgrounddiv #whitebgdiv #leftpart img {background-color: #fff;display: inline-block;vertical-align: middle;width: 525px;height: 525px;box-shadow:5px 0 5px -1px #aaa}
#backgrounddiv #whitebgdiv #rightpart > .main-user-div > .user .userlink a{color:#000}
#backgrounddiv #whitebgdiv #leftpart > span {position: absolute}
#backgrounddiv #whitebgdiv #leftpart #titletext {border-radius: 6px;transition: all 1s ease 0s}
#backgrounddiv #whitebgdiv #leftpart #titletext > a {text-decoration: none;color: #fff}
#backgrounddiv #whitebgdiv #leftpart #titletext > a:hover {text-decoration: none;color: #fff}
#backgrounddiv #whitebgdiv #leftpart #titletext > a > .number {background: rgba(0, 0, 0, 0) url(" ../images/instagrampro/hotspot.png") no-repeat scroll 0 0 / 30px 33px;float: left;height: 33px;text-align: center;width: 30px;left: -16px;position: absolute;top: 0}
#backgrounddiv #whitebgdiv #leftpart #titletext > a > .numbertitle {background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;border: 1px solid;float: left;padding: 4px 10px}
#backgrounddiv #whitebgdiv #rightpart {display: table-cell;float: right;height: 100%;overflow-x: hidden;overflow-y: auto;position: relative;vertical-align: top;width: 510px;padding: 10px 10px 10px 10px;}
#backgrounddiv #whitebgdiv #rightpart .main-user-div {border-bottom: 2px solid #797979;height: 65px;width: 100%}
#backgrounddiv #whitebgdiv #rightpart > .main-user-div > .user {margin-left: 10px;float: left}
#backgrounddiv #whitebgdiv #rightpart > .main-user-div > .user > .userimage {display: inline-table;vertical-align: middle}
#backgrounddiv #whitebgdiv #rightpart > .main-user-div > .user > .userimage > img {height: 45px;width: 45px}
#backgrounddiv #whitebgdiv #rightpart > .main-user-div > .user .userlink {display: inline-table;font-size: 20px;line-height: 33px;vertical-align: middle;height: 40px}
#backgrounddiv #whitebgdiv #rightpart ul {clear: both;padding: 15px 0 5px 9px;float: left;text-align: left;margin-bottom: 0;width: 100% !important;}
#backgrounddiv #whitebgdiv #rightpart ul li {clear: both;cursor: pointer;display: inline-table;font-size: 14px;margin: 5px 0;text-align: left;transition: all 1s ease 0s;width: calc(100% - 60px);}
#backgrounddiv #whitebgdiv #rightpart ul li > div a:last-child{padding: 15px 30px;display: block;}
#backgrounddiv #whitebgdiv #rightpart ul li:hover {background: rgba(255, 255, 255, 0.74) none repeat scroll 0 0;border: 1px solid #e2e2e2;box-shadow: 2px 5px 7px 0 rgba(0, 0, 0, 0.23)}
#backgrounddiv #whitebgdiv #rightpart ul li a:hover {text-decoration: none}
#backgrounddiv #whitebgdiv #rightpart ul li a span {color: #000 !important;font-weight: 500;vertical-align: middle}
#backgrounddiv #whitebgdiv #rightpart ul li:hover a span {background-color: transparent !important;color: #296497 !important}
#backgrounddiv #whitebgdiv #rightpart ul li a span.number {color: #fff !important;height: 20px;width: 20px;display: inline-block;background-color: #222;border-radius: 50%;text-align: center;display: none}
#backgrounddiv #whitebgdiv #rightpart #instatitle {color: #222;letter-spacing: .01em;text-align: left;font-size: 17px;margin-left: 20px;margin-top: 0;float: left;font-weight: bold}
.popup-img-desc-part {float: left;width: 100%;margin-left: 10px}
#backgrounddiv #whitebgdiv #rightpart #instatitle p, #backgrounddiv #whitebgdiv #rightpart #instatitle strong, #backgrounddiv #whitebgdiv #rightpart #instatitle span, #backgrounddiv #whitebgdiv #rightpart #instatitle em, #backgrounddiv #whitebgdiv #rightpart #instatitle label {color: #222 !important;font-family: Times New Roman, serif !important;font-size: 17px}
#backgrounddiv #loadingdiv {background: rgba(0, 0, 0, 0) url("../images/instagrampro/balls.svg") no-repeat scroll 0 0 / 63px 63px;display: none;height: 63px;margin-left: 48%;margin-top: 15%;width: 63px}
#backgrounddiv #whitebgdiv #closebtndiv {background: rgba(0, 0, 0, 0) url("../images/instagrampro/close.png") no-repeat scroll 0 0 / 25px 25px;cursor: pointer;height: 25px;position: absolute;right: -12px;top: -16px;width: 25px;z-index: 9999}
#backgrounddiv #whitebgdiv #prevbtndiv {background: rgba(0, 0, 0, 0) url("../images/instagrampro/instaprev.png") no-repeat scroll 0 0;cursor: pointer;float: left;height: 50px;left: -51px;position: absolute;top: 47%;width: 50px}
#backgrounddiv #whitebgdiv #nextbtndiv {height: 50px;width: 50px;float: left;background: url("../images/instagrampro/instanext.png") scroll 0 0 no-repeat;cursor: pointer;right: -60px;position: absolute;top: 47%}
#backgrounddiv #whitebgdiv #rightpart #cntbtndiv #userdatadiv {float: left;margin-left: 15%}
#backgrounddiv #whitebgdiv #rightpart #cntbtndiv #userdatadiv > img {border: 1px solid #ccc;border-radius: 25px;height: 36px;width: 36px;float: left}
#backgrounddiv #whitebgdiv #rightpart #cntbtndiv #userdatadiv > a {margin-left: 10px;font-size: 23px}
#backgrounddiv #whitebgdiv #rightpart #cntbtndiv #userdatadiv > a:hover {text-decoration: none}
#backgrounddiv #whitebgdiv #rightpart ul.prditem li {border: 4px solid #919191;display: inline-table;margin-right: 5%;margin-bottom: 7px;padding: 0;width: 40% !important;max-width: 75px;height: 75px;border-radius: 4px}
#backgrounddiv #whitebgdiv #rightpart ul.prditem li a.prdblocka > img {width: 100%;float: left}
#backgrounddiv #whitebgdiv #rightpart ul.prditem li a.prdblocka > span {float: left;font-size: 11px;height: 30px;overflow: hidden;padding: 5px;width: calc(100% - 10px)}
#backgrounddiv #whitebgdiv #rightpart ul.prditem li div {display: none}
#backgrounddiv #whitebgdiv #rightpart ul.prditem li:hover {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;box-shadow: 4px 7px 15px 0 rgba(0, 0, 0, 0.23)}
#backgrounddiv #whitebgdiv #rightpart ul.prditem li:hover a span {color: #000 !important}
.instagrampro-view.instagrampro-gallary #mainimgdiv img, .instagrampro-view.instagrampro-gallary #mainimgdiv, .instagrampro-view.instagrampro-gallary #mainimgdiv .hoverp {border-radius: 25px;box-shadow: 3px 1px 7px 3px #a7a7a7}
#mainimgdiv > a {float: left;width: 100%;height: 100%}
.hover-description {position: relative;top: 45%;transform: translateY(-50%)}
.insta-popup-product-view-left {float: left;width: 55%;display: flex}
.insta-popup-product-view-right {float: right;width: 40%;max-width: 200px !important}
.insta-popup-product-view-left-img {text-align: center;box-shadow: 3px 8px 15px 6px #e0e0e0;width: 90%;margin: 23px auto}
.insta-popup-product-view-left-img-name {float: left;width: 100%;background-color: #7f7f7f;color: #fff;height: 28px;font-weight: bold;font-size: 20px}
.insta-popup-product-view {float: left}
.popup-img-desc {float: left;width: 100%}
.popup-img-desc-part {float: left;width: auto;margin-top: 10px;color: #000}
.prdblocka {float: left}
#popprdloadingdiv {background: rgba(0, 0, 0, 0) url("../images/instagrampro/balls.svg") no-repeat scroll 0 0 / 63px 63px;height: 63px;width: 63px;transform: translateY(-50%);top: 35%;left: 26%;position: absolute;display: none}
.popup_follow_link {float: right;margin-top: 7px;}
.action.primary.popup.follow_btn {background: #296497;border-radius: 6px;display: block;color: #ffffff;text-align: center;font-size: 0.875rem;line-height: 1.5rem;padding-top: 0.5rem;padding-bottom: 0.5rem;padding-left: 1.5rem;padding-right: 1.5rem;font-weight: 600;transition: all ease-in-out 0.3s;}
.action.primary.popup.follow_btn:hover{transition: all ease-in-out 0.3s;background: #15324c;}
.popup-share-icon {position: relative;float: left;width: 100%;text-align: center}
.popup-share {position: relative}
.popup-share span {width: 30px;text-align: center;border-radius: 50%;height: 30px;color: #fff;margin: 7px 5px;display: inline-block}
.popup-share-fb {background-color: #0085c6}
.popup-share-twitter {background-color: #5db4d1}
.popup-share-linkedin {background-color: #40bcda}
.popup-share-googleplus {background-color: #cd1e02}
.popup-share-fb i, .popup-share-twitter i, .popup-share-linkedin i, .popup-share-googleplus i {line-height: 30px;cursor: pointer}
.popup-share-icon .popup-share-icon-title {text-align: center;font-size: 22px;color: #000}
.popup-share-icon a {color: #fff}
#thumbnail-slider .instagrampro-view #mainimgdiv .hoverp .imagelikes {bottom: 10px;right: 18px;position: absolute}
#thumbnail-slider .instagrampro-view #mainimgdiv .hoverp .imagecomments {bottom: 10px;left: 18px;position: absolute}
#thumbnail-slider #mainimgdiv {position: initial !important}
.instagrampro-view h3 {text-align: center}
.instatitle {font-weight: bold;font-size: 18px}
#thumbnail-slider {margin: 0 auto;width: 100%;padding: 0px;box-sizing: border-box;position: relative;-webkit-user-select: none;user-select: none}
#thumbnail-slider div.inner {background-color: transparent;position: relative;overflow: inherit;padding: 0px 0;margin: 0;width: 100%}
#thumbnail-slider div.inner ul {white-space: nowrap;position: relative;left: 0;top: 0;list-style: none;font-size: 0;padding: 0;margin: 0;float: left !important;width: 100% !important;height: auto !important}
#thumbnail-slider ul li {display: inline-block;*display: inline !important;margin: 0 6px;transition: border-color .5s;box-sizing: content-box;text-align: center;vertical-align: middle;padding: 0;position: relative;list-style: none;backface-visibility: hidden;border-radius: 25px;box-shadow: 3px 1px 7px 3px #a7a7a7}
#thumbnail-slider ul li.active {opacity: 1}
#thumbnail-slider ul li.active:after {font-size: 10px;background-color: #C00}
#thumbnail-slider li:hover {opacity: .8}
#thumbnail-slider .thumb {width: 100%;height: 100%;background-size: contain;background-repeat: no-repeat;background-position: center center;display: block;position: absolute;font-size: 0;border-radius: 0px;}
#thumbnail-slider-pause-play {display: none}
#thumbnail-slider-prev, #thumbnail-slider-next {opacity: 1;position: absolute;background-color: rgba(0, 0, 0, 0.1);*background-color: #ccc;backface-visibility: hidden;width: 36px;height: 48px;line-height: 48px;top: 50%;margin: 0;margin-top: -24px;color: white;z-index: 10;cursor: pointer}
#thumbnail-slider-prev {left: 0;right: auto}
#thumbnail-slider-next {left: auto;right: 0}
#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {opacity: .3;cursor: default}
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {position: absolute;top: 16px;content: "";display: block;width: 16px;height: 16px;border-left: 3px solid white;border-top: 3px solid white}
#thumbnail-slider-prev::before {left: 13px;-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg)}
#thumbnail-slider-next::before {right: 13px;-ms-transform: rotate(135deg);-webkit-transform: rotate(135deg);transform: rotate(135deg)}
@media only screen and (min-width: 1440px){
    .instagram_content .instagram_feed .owl-nav .owl-prev{left: -1.5rem;}
    .instagram_content .instagram_feed .owl-nav .owl-next{right: -1.5rem !important;}
}
@media only screen and (max-width: 1060px) {
    #backgrounddiv #whitebgdiv {width: 550px;display: table}
    #backgrounddiv #whitebgdiv #leftpart {width: 100%;padding: 20px;}
    #backgrounddiv #whitebgdiv #rightpart {width: 100%;margin-top: 15px;padding: 20px;margin-bottom: 20px;}
    #backgrounddiv #whitebgdiv #rightpart ul li {padding: 0px;width: 100%;}
    #backgrounddiv #whitebgdiv #prevbtndiv, #backgrounddiv #whitebgdiv #nextbtndiv {top: 260px}
    .instagrampro-view.instagrampro-gallary #mainimgdiv{width: 30%;height: auto}
    #backgrounddiv #whitebgdiv #nextbtndiv{right: -45px;}
    #backgrounddiv #whitebgdiv #prevbtndiv{left: -40px;}
}
@media only screen and (max-width: 991px){
    .owl-carousel .item{height: 358px;}
}
@media only screen and (max-width: 767px) {
    .instagrampro-view #mainimgdiv {width: 32%;height: 250px}
    .owl-carousel .item{height: 250px;}
    #backgrounddiv #whitebgdiv #leftpart img{height: auto;width: 100%;}
    .alltitleul.prditem{width: 100%}
    #backgrounddiv #whitebgdiv {max-width: 90%;width: 100%;height: auto !important;}
    .instagrampro-view #mainimgdiv img{object-fit: cover !important;}
    #thumbnail-slider .thumb{border-radius: 0px !important;}
    #backgrounddiv #whitebgdiv #rightpart .main-user-div{height: inherit;padding: 0 0 20px 0;width: 100%;}
    #backgrounddiv #whitebgdiv #rightpart > .main-user-div > .user{margin-left: 0;float: none;margin-bottom: 20px;}
    .popup_follow_link{float: none;margin-top: 7px;display: block;}
    #backgrounddiv #whitebgdiv #rightpart > .main-user-div > .user > .userimage{margin-right: 10px;}
    #backgrounddiv #whitebgdiv #rightpart ul{padding: 0;margin-top: 1rem;}
}
@media only screen and (max-width: 680px) {
    .instagrampro-view #mainimgdiv .hoverp #innerdiv > .imagelikes {margin-left: 10px}
    .instagrampro-view #mainimgdiv .hoverp #innerdiv > .imagecomments {margin-right: 10px}
}
@media only screen and (max-width: 640px) {
    #backgrounddiv #whitebgdiv #prevbtndiv {left: -7px;z-index: 9999}
    #backgrounddiv #whitebgdiv #nextbtndiv {right: -18px;z-index: 9999}
    #backgrounddiv #whitebgdiv {max-width: 90%;width: 100%;height: auto !important;}
    #backgrounddiv #whitebgdiv #leftpart #titletext {display: none}

}
@media only screen and (max-width: 600px) {
    .instagrampro-view #mainimgdiv {width: 49%;height: 200px}
    .owl-carousel .item{height: 200px;}
    .instagrampro-view.instagrampro-gallary #mainimgdiv{width: 45%;height: auto}
}
@media only screen and (max-width: 480px) {
    .instagrampro-view #mainimgdiv .hoverp #innerdiv > span {padding-top: 15%}
    .instagrampro-view #mainimgdiv .hoverp #innerdiv > .imagelikes {margin-left: 35%}
    .instagrampro-view #mainimgdiv .hoverp #innerdiv > #imagecomments {float: left;margin-left: 35%}
    .insta-popup-product-view-right {width: 100%;max-width: 100% !important}
    #backgrounddiv #whitebgdiv #rightpart ul {text-align: center}
    .insta-popup-product-view-left {width: 100%;position: relative}
    #popprdloadingdiv {top: 50%;left: 40%}
}
@media only screen and (max-width: 400px) {
    #backgrounddiv #whitebgdiv #prevbtndiv, #backgrounddiv #whitebgdiv #nextbtndiv {top: 150px;}
    #backgrounddiv #whitebgdiv #prevbtndiv {left: -45px;}
    #backgrounddiv #whitebgdiv #nextbtndiv {right: -45px;}
    #backgrounddiv #whitebgdiv {max-width: 80%;} 
}
@media only screen and (max-width: 375px) {
    .instagrampro-view #mainimgdiv .hoverp #innerdiv > span {padding-top: 10%}
    .instagrampro-view #mainimgdiv {height: 165px;}
    .owl-carousel .item{height: 165px;}
}
@media only screen and (max-width: 736px) {
    #thumbnail-slider {padding: 0}
    #thumbnail-slider-prev, #thumbnail-slider-next {display: none}
}