<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
  <acl>
    <resources>
      <resource id="Magento_Backend::admin">  
	  	 <resource id="Magento_Backend::stores">
          <resource id="Magento_Backend::stores_settings">
            <resource id="Magento_Config::config">
              <resource id="Magecomp_Instagrampro::config_instagrampro" title="Instagram Integration Pro"/>
            </resource>
          </resource>
        </resource>
        <resource id="Magecomp_Instagrampro::instagrampro" title="Instagram Integration Pro">
          	<resource id="Magecomp_Instagrampro::instagramprobackend" title="Manage Instagram Images"/>
          	<resource id="Magecomp_Instagrampro::instagramprobackend2" title="Approved Images"/>
          	<resource id="Magecomp_Instagrampro::instagramproimglinkdata" title="Approved Images Manager"/>
        </resource>
      </resource>
    </resources>
  </acl>
</config>