<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dcw_home_page" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Home page</label>
            <tab>dcw_store_config</tab>
            <resource>Dcw_FeaturedPartner::config</resource>
            <group id="featured_partner" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Featured Partner</label>
                <field id="desktop_limit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Desktop Limit Display</label>
                </field>
                <field id="mobile_limit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mobile Limit Display</label>
                    <!--<comment>This text will display on the frontend.</comment>-->
                </field>
            </group>
        </section>
    </system>
</config>