<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magecomp\Instagrampro\Controller\Gallery\Popuphtml" type="Dcw\Instagram\Controller\Gallery\Popuphtml" />
    <preference for="Magecomp\Instagrampro\Block\Adminhtml\Proindex\Edit\Renderer\Thumbnail" type="Dcw\Instagram\Block\Adminhtml\Proindex\Edit\Renderer\Thumbnail" />
</config>