<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dcw\IncstoreShipping\Api\Data\OrderItemAttributeInterface" type="Dcw\IncstoreShipping\Model\OrderItemAttribute" />
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="load_orderattributes_shipping_metadata" type="Dcw\IncstoreShipping\Plugin\Model\Order\LoadOrderAttributes"/>
    </type>
	<type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="cedapi_quote_to_order_item" type="Dcw\IncstoreShipping\Model\Plugin\Quote\QuoteToOrderItem"/>
    </type>
</config>
