<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dcw_checkout" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shopping Cart</label>
            <tab>dcw_store_config</tab>
            <resource>Dcw_SampleProduct::config</resource>
            <group id="shopping_cart_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Shopping Cart</label>
                <field id="default_product_recycle_factor" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Recycle Factor</label>
                </field>
            </group>
        </section>
    </system>
</config>