<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="orderrestrictions" translate="label" sortOrder="999">
            <label>Order Restrictions</label>
        </tab>
        <section id="orderrestrictions" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Order Restrictions</label>
            <tab>orderrestrictions</tab>
            <resource>Dotcomweavers_OrderRestrictions::config</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enable_admin_login_as_customer" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Order Restriction for Shopping Assistance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
